.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1))
}
.table-todo {
    overflow: scroll;
}
.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
#logout {
    display: inline-block;
}
.icon-search {
    height: 20px;
    width: 22px;
    border: none;
    color: white;
    background-color: white;
    position: relative;
}
.item-small {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2em;
    color: #9e9e9e;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
}
.item-period {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2em;
    color: #2eca7f;
    margin-bottom: 8px;
}
#logout {
    display: inline-block;
}